<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Bệnh Viện Nhiệt Đới</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Bệnh viện Nhiệt Đới là một trong những bệnh viện hàng đầu chuyên về điều trị các bệnh truyền nhiễm và nhiệt đới. Với đội ngũ y bác sĩ giàu kinh nghiệm và trang thiết bị hiện đại, chúng tôi cam kết mang đến cho bệnh nhân sự chăm sóc tốt nhất.
      </p>
    </div>

    <!-- Chèn card-datlich component -->
    <app-card-datlich></app-card-datlich>
  </div>
</section>
