  .mock-up-link {
    display: none;
  }
  @media (min-width: 768px) {
    .mock-up-link {
      display: block;
    }
  }
  
  .main-container-wrapper {
    background-color: #F8FAFA;
    min-width: 320px;
    max-width: 414px;
    overflow-y: auto;
  }
  @media (min-width: 415px) {
    .main-container-wrapper {
      -moz-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
      -webkit-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
      box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
      margin: 24px auto;
    }
  }
  
  header {
    background-color: #fff;
    display: flex;
    height: 58px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
  }
  
  .header__btn {
    background-color: #86D8C9;
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 80px;
    padding-top: 18px;
    position: absolute;
    top: -25px;
    width: 80px;
  }
  .header__btn:hover, .header__btn:focus {
    background: #67cebb;
    transition: all 0.3s ease-in;
    outline: none;
  }
  .header__btn .icon {
    display: inline-block;
  }
  .header__btn--left {
    left: -25px;
    padding-left: 38px;
    text-align: left;
  }
  .header__btn--right {
    padding-right: 32px;
    right: -25px;
    text-align: right;
  }
  
  .calendar-container {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 24px;
  }
  .calendar-container__header {
    display: flex;
    justify-content: space-between;
  }
  .calendar-container__btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    color: #E9E8E8;
  }
  .calendar-container__btn:hover, .calendar-container__btn:focus {
    color: #9FAAB7;
    transition: all 0.3s ease-in;
  }
  .calendar-container__title {
    color: #222741;
    font-size: 20px;
    font-weight: 700;
  }
  
  .calendar-table {
    margin-top: 12px;
    width: 100%;
  }
  .calendar-table__item {
    border: 2px solid transparent;
    border-radius: 50%;
    color: #424588;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .calendar-table__item:hover {
    background: #f8fafa;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.2s all ease-in;
  }
  .calendar-table__row {
    display: flex;
    justify-content: center;
  }
  .calendar-table__header {
    border-bottom: 2px solid #F2F6F8;
    margin-bottom: 4px;
  }
  .calendar-table__header .calendar-table__col {
    display: inline-block;
    color: #99A4AE;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 3px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    height: 38px;
  }
  @media (min-width: 360px) {
    .calendar-table__header .calendar-table__col {
      width: 46px;
    }
  }
  @media (min-width: 410px) {
    .calendar-table__header .calendar-table__col {
      width: 54px;
    }
  }
  .calendar-table__body .calendar-table__col {
    width: 40px;
    height: 42px;
    padding-bottom: 2px;
  }
  @media (min-width: 360px) {
    .calendar-table__body .calendar-table__col {
      width: 46px;
      height: 48px;
    }
  }
  @media (min-width: 410px) {
    .calendar-table__body .calendar-table__col {
      width: 54px;
      height: 56px;
    }
  }
  .calendar-table__today .calendar-table__item {
    border-color: #FEFEFE;
    background-color: #F2F6F8;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .calendar-table__event .calendar-table__item {
    background-color: #148068;
    color: #fff;
  }
  .calendar-table__event--long {
    overflow-x: hidden;
  }
  .calendar-table__event--long .calendar-table__item {
    border-radius: 0;
    border-width: 2px 0;
  }
  .calendar-table__event--start .calendar-table__item {
    border-left: 2px solid #fff;
    border-radius: 50% 0 0 50%;
  }
  .calendar-table__inactive .calendar-table__item {
    color: #DCDCE3;
    cursor: default;
  }
